<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      husky_playpen.launch
\authors   Paul Bovbel <pbovbel@clearpathrobotics.com
\copyright Copyright (c) 2015, Clearpath Robotics, Inc., All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<!-- DO13 Husky launch for enabling emergency stop -->
<launch>

  <include file="$(find husky_gazebo)/launch/playpen.launch" />

  <include file="$(find do13_husky)/launch/spawn_husky_do13.launch"> -->
  </include>

  <arg name="can_hardware_id" default="042774" />
  <arg name="can_circuit_id" default="0" />
  <arg name="can_bit_rate" default="250000" />

  <node ns="can0" pkg="kvaser_interface" type="kvaser_can_bridge" name="kvaser_can_bridge">
    <param name="can_hardware_id" value="$(arg can_hardware_id)" />
    <param name="can_circuit_id" value="$(arg can_circuit_id)" />
    <param name="can_bit_rate" value="$(arg can_bit_rate)" />
  </node>

  <node ns="vehicle" pkg="deeporange_fort_driver" type="deeporange_fort_driver_node" name="fortjoy" output="screen">
    <param name="jostick_dbc_file" textfile="$(find deeporange_fort_driver)/do13_fort.dbc" />
    <remap from="can_tx" to="/can0/can_rx" />
    <remap from="can_rx" to="/can0/can_tx" />
    <remap from="fort_joy" to="/joy" />
  </node>

  <node pkg="do13_husky" name="JoyToTwist" type="TeleOpPubulisher" output="screen"/>

</launch>
